@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/dropDownMenu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/formLayout.css"/>
    <title>CreateEvent</title>

    <style>
    </style>
</head>

<body>
    <div class="navbar">
        <a href="~/Home/Home"> Home </a>
        <a href="~/Home/CreateEvent">Add Event</a>
        <a href="~/Home/CreateRSO">Add RSO</a>
        <a href="~/Home/CreateUniversity">Add University</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">
                Select University
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>

    <div class="form-style-2">
        <div class="form-style-2-heading">Provide the Event Information</div>
        <form action="" method="post">
            <label for="field1"><span> Admin Name <span class="required">*</span></span><input type="text" class="input-field" name="field1" value="" /></label>
            <label for="field2"><span>Admin Email <span class="required">*</span></span><input type="text" class="input-field" name="field2" value="" /></label>
            <label><span>Admin Telephone</span><input type="text" class="tel-number-field" name="tel_no_1" value="" maxlength="4" />-<input type="text" class="tel-number-field" name="tel_no_2" value="" maxlength="4" />-<input type="text" class="tel-number-field" name="tel_no_3" value="" maxlength="10" /></label>
            <label><span>Event Date and Time</span><input type="datetime-local" name="date and time" value="" /></label>

            <label for="field4">
                <span>Type of Event</span><select name="field4" class="select-field">
                    <option value="RSO Event">RSO Event</option>
                    <option value="Public Event">Public Event</option>
                    <option value="Private Event">Private Event</option>
                </select>
            </label>
            <label for="field5">
                <span>Event Category</span> <select name="field5" class="select-field">
                    <!-- Change these to dynamic-->
                    <option value="RSO Event">RSO Event</option>
                    <option value="Public Event">Public Event</option>
                    <option value="Private Event">Private Event</option>
                </select>
            </label>
            <label for="field6">
                <span>Host University</span> <select name="field6" class="select-field">
                    <!-- Change these to dynamic-->
                    <option value="RSO Event">RSO Event</option>
                    <option value="Public Event">Public Event</option>
                    <option value="Private Event">Private Event</option>
                </select>
            </label>
            <label for="field5"><span>Event Description <span class="required">*</span></span><textarea name="field5" class="textarea-field"></textarea></label>

            <label><span> </span><input type="submit" value="Submit" /></label>
        </form>
    </div>

    <div id="map" height="460px" width="100%"></div>



    <script>
        var map;
        var marker;
        var infowindow;
        var messagewindow;

        function initMap() {
            var florida = { lat: 28.6024, lng: -81.2001 };
            map = new google.maps.Map(document.getElementById('map'), {
                center: florida,
                zoom: 12
            });

            infowindow = new google.maps.InfoWindow({
                content: document.getElementById('form')
            });

            messagewindow = new google.maps.InfoWindow({
                content: document.getElementById('message')
            });

            google.maps.event.addListener(map, 'click', function (event) {
                marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map
                });


                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            });
        }

        function saveData() {
            var name = escape(document.getElementById('name').value);

            var latlng = marker.getPosition();
            var url = '&lat=' + latlng.lat() + '&lng=' + latlng.lng();

            downloadUrl(url, function (data, responseCode) {

                if (responseCode == 200 && data.length <= 1) {
                    infowindow.close();
                    messagewindow.open(map, marker);
                }
            });
        }

        function downloadUrl(url, callback) {
            var request = window.ActiveXObject ?
                new ActiveXObject('Microsoft.XMLHTTP') :
                new XMLHttpRequest;

            request.onreadystatechange = function () {
                if (request.readyState == 4) {
                    request.onreadystatechange = doNothing;
                    callback(request.responseText, request.status);
                }
            };

            request.open('GET', url, true);
            request.send(null);
        }

        function doNothing() {
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1rCahYMg_sbFtaUZbTz4a6rFTRdF-oXc&callback=initMap">
    </script>
</body>

</html>
