
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateUniversity</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <form>
            Event Name: <input type="text" name="Event Name" />
            <br>
            Event Category: <input type="text" name="Event Category" />
            <br>
            <label for="Description">Description:</label>
            <textarea rows="5" cols="50" name="Description"
                      id="Description"></textarea>
            <br />
            University Name: <input type="text" name="University Name" />
            <br>
            <!-- address-line1 input-->
            <div class="control-group">
                <label class="control-label">Address Line 1</label>
                <div class="controls">
                    <input id="address-line1" name="address-line1" type="text" placeholder="address line 1"
                           class="input-xlarge">
                    <p class="help-block">Street address, P.O. box, company name, c/o</p>
                </div>
            </div>
            <!-- address-line2 input-->
            <div class="control-group">
                <label class="control-label">Address Line 2</label>
                <div class="controls">
                    <input id="address-line2" name="address-line2" type="text" placeholder="address line 2"
                           class="input-xlarge">
                    <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
                </div>
            </div>
            <!-- city input-->
            <div class="control-group">
                <label class="control-label">City / Town</label>
                <div class="controls">
                    <input id="city" name="city" type="text" placeholder="city" class="input-xlarge">
                    <p class="help-block"></p>
                </div>
            </div>
            <!-- region input-->
            <div class="control-group">
                <label class="control-label">State / Province / Region</label>
                <div class="controls">
                    <input id="region" name="region" type="text" placeholder="state / province / region"
                           class="input-xlarge">
                    <p class="help-block"></p>
                </div>
            </div>
            <!-- postal-code input-->
            <div class="control-group">
                <label class="control-label">Zip / Postal Code</label>
                <div class="controls">
                    <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code"
                           class="input-xlarge">
                    <p class="help-block"></p>
                </div>
            </div>
            <br />
            Number of Students: <input type="number" name="Number of Students" />
            <br />
            <label for="Description">Description:</label>
            <textarea rows="5" cols="50" name="Description"
                      id="Description"></textarea>
            <br />
            <input type="submit" name="submit" value="Submit" />

        </form>
    </div>
</body>
</html>
