
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateRSO</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div> 
        <form>
            <br />
            RSO Name: <input type="text" name="RSO Name" />
            <br>
            <br>
            <label for="Description"> RSO Description:</label>
            <textarea rows="5" cols="50" name="Description"
                      id="Description"></textarea>
            <br />
            <br>
            RSO Admin: <input type="text" name="Contact Email" />
            <br />
            <br />
            <p>Submit below the emails of five other people you would like to join the RSO</p>
            <br>
            RSO member #1: <input type="text" name="Contact Email" />
            <br />
            <br>
            RSO member #2: <input type="text" name="Contact Email" />
            <br />
            <br>
            RSO member #3: <input type="text" name="Contact Email" />
            <br />
            <br>
            RSO member #4: <input type="text" name="Contact Email" />
            <br />
            <br>
            RSO member #5: <input type="text" name="Contact Email" />
            <br />

            <br />
            <input type="submit" name="submit" value="Submit" />
        </form>
    </div>
</body>
</html>
